// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

body {
  font-family: $text-font-stack;
  color: $text-color;
  font: normal 100% / 1.4 $text-font-stack;
  background: $body-background;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $text-header-stack;
}

a {
  color: $brand-color;
}
.onepage-pagination {
  display: none;
}
.sr_section {
  width: 100%;

  &.bg--dark {
    background: #111;
    background: -webkit-linear-gradient(35deg, #201c29, #100e17);
    background: linear-gradient(35deg, #201c29, #100e17);

    .sr_section--title {
      color: #fff;
    }

    .sr_section--content {
      color: #eee !important;
      strong,
      b {
        color: #fff;
      }
    }
  }
}

.sr_wrapper {
  width: 100% !important;
}

.sr_divider {
  width: 50px;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;

  &.--primary {
    border-color: $primary;
  }

  &.--brand {
    border-color: $brand-color;
  }
}

.btn {
  border-radius: 25px !important;
}

.btn-primary {
  color: #fff;
  border: none;
  background: $primary;
  background: -webkit-linear-gradient(to right, $primary, $red);
  background: linear-gradient(to right, $primary, $red);
  transition: all ease-in-out 0.1s;
  box-shadow: 0px 4px 8px 2px rgba($red, 0.3);

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    border: none;
    background: $primary;
    text-decoration: none;
    background: -webkit-linear-gradient(to right, $primary, $red);
    background: linear-gradient(to right, $primary, $red);
    transform: translateY(-3px);
    box-shadow: 0px 2px 4px 2px rgba($primary, 0.3), 0px 4px 8px 2px rgba($red, 0.3);
  }

  &.btn-shadow1 {
    box-shadow: 0px 4px 8px 2px rgba($primary, 0.3);
  }
}

.vh--100 {
  min-height: 100vh;
}

.flex-justify-center {
  display: flex;
  align-items: center;
}

.sr_section--pading {
  padding: 100px 0;
}

.b-radius-5 {
  border-radius: 5px;
}

.sr_section--content {
  color: #737373;
  padding: 15px;
  border-radius: 5px;

  strong,
  b {
    color: #333;
  }

  .sr_section--title {
    color: #333;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: -2px;
    font-size: 3rem;
    line-height: 3rem;
  }
}
